html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  }
  body {
    font-family: sans-serif;
    overflow: hidden;
  }
  h1 {
    font-weight: normal;
    font-size: 100%;
  }
  #show-code-btn, #upload-btn{
    margin-left: 4px;
  }

  #blocklyArea, #remote-builder-wrapper, #main-wrapper, .max-height {
    height: 100%;
  }

  #code-div{
    box-shadow: -3px 7px 7px -5px #080708;
    overflow: auto;
  }
  .blocklyToolboxDiv{
    background-color: rgba(238, 238, 238, 0.685);
  }

  .blocklyTreeRow{
    height: auto;
    line-height: 25px;
    padding-left: 4px !important;
    cursor: pointer;
  }

  .remote-item-wrapper{
    border: 0.5px solid #0807084a;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 4px;
    width: 100px;
    height: auto;
  }

  .remote-list-item{
    margin: 8px auto;
    height: 100px;    
    width: 100%;
    border: 0.5px solid #0807084a;
    border-radius: 5px;
    display: flex;
  }

  .added-remote-item-name{
    margin-bottom: 0px;
  }

  .error-modal-header{
    background: #ff2400;
    color: white;
  }

  .error-modal-header .close{
    color: white;
  }

  #added-remote-showcase{
    box-shadow: rgb(8, 7, 8) 5px 0px 10px -10px;
  }

  #added-remote-item-list-container{
    padding: 16px;
  }

  .remote-builder{
    position: relative;
  }

  #joystick {
    height: inherit;
    width: inherit;
    border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    text-align: center;
    background-color: #ff220094;
    font: 24px/300px Helvetica, Arial, sans-serif;
    cursor: all-scroll;
    user-select: none;
    z-index: -100;
    min-width: inherit;
    min-height: inherit;
    max-width: inherit;
    max-height: inherit;
  }

  .resize-both{
    background: #f6e8ea;
    border: 1px solid black;
    overflow: hidden;
    resize: both;
    width: 100px;
    height: 100px;
    min-width: 80px;
    min-height: 80px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 16px;
  }