html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  }
  body {
    font-family: sans-serif;
    overflow: hidden;
  }
  h1 {
    font-weight: normal;
    font-size: 100%;
  }
  #show-code-btn, #upload-btn{
    margin-left: 4px;
  }
  #main-wrapper{
    height: 100%;
  }
  #blocklyArea {
    height: 100%;
  }
  #code-div{
    background-color: rgba(238, 238, 238, 0.685);
    overflow: auto;
  }
  .blocklyToolboxDiv{
    background-color: rgba(238, 238, 238, 0.685);
  }

  .blocklyTreeRow{
    height: auto;
    line-height: 25px;
    padding-left: 4px !important;
    cursor: pointer;
  }
